@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.navbar ul {
    display : flex;
    justify-content: right;
    gap: 5px;
    list-style-type: none;
    

}
.navbar a {
    color: #F3F4F6;
    text-decoration: none;
    padding: 0 20px;
    font-weight: 850;

}

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: #F3F4F6;
}