@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.site-navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.site-navbar a {
    color: #F3F4F6;
    text-decoration: none;
    font-weight: 800;
    padding: 0 15px;
}
#home-link {
    margin-right: auto;
    font-weight: 800;
    font-size: 24px;
}
body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: #F3F4F6;
    
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    text-align: center;
}
.main-image {
    display: block;
    margin: 0 auto;
    width: 50%;
}
a:hover {
    color: orange;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 20px;
    color: #F3F4F6;
    margin-top: 40px;
}
footer a {
    color: #F3F4F6;
    text-decoration: none;
    font-weight: 800;
}
